<h1>Doppler Encrypted Credentials Test</h1>

<table>
  <thead>
  <tr>
    <td>Name</td>
    <td>Value</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Doppler Project</td>
    <td><code><%= @doppler_project %></code></td>
  </tr>
  <tr>
    <td>Doppler Environment</td>
    <td><code><%= @doppler_environment %></code></td>
  </tr>
  <tr>
    <td>Doppler Config</td>
    <td><code><%= @doppler_config %></code></td>
  </tr>
  <tr>
    <td>API_KEY</td>
    <td><code><%= @api_key %></code></td>
  </tr>
  </tbody>
</table>
